* {
    margin: 0;
    padding: 0;
}

/* Estilizei minha fonte, criando um "quadrado" para ele */
h4 {
    font-size: 32px;
    color: #ffffff;
    background-color: #2b1010;
    border: #ff0000 2px solid;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

/* Vou estilizar a nav da clsse menu */
.menu {
    /* background-size: cover;
    display: block; */
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: 200px;
    float: left;
}

.menu a {
    padding: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color:#2b1010;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

/* mexendo no sub menu */
.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #862175;
    color: yellowgreen;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
    
}