/* Quando o css não alterar quer dizer que o link está errado
( o que busca o css no html) */
h1 {
    font-size: 40px;
    color: white;
    background-color: rgb(7, 194, 240);
    border-style: solid;
    border-color: rgb(0, 247, 255);
    border-width: 5px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    /*Deixar a borda arredondada(radius) */
    padding: 10px;
    /* Margem interna(padding) */
}

h4 {
    font-size: 20px;
    color: white;
    background-color: rgb(4, 87, 117);
    border-style: solid;
    border-color: rgba(2, 154, 224, 0.966);
    border-width: 2px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

/* Menu Horizontal (acrescento o ul) pq se não estiliza a div,
se tiver outro menu estiliza todos iguais, sem o ul (não precisa de vírula,
pq não vou agrupar)*/
#menu ul {
    padding: 10px;
    margin: 0;
    background-color: #19416c;
    list-style: none;
    /* Tira os pontos dos tópicos */
}

#menu ul li {
    /* É o que tem na tela */
    display: inline;
}

#menu ul li a {
    /* Margem interna */
    padding: 10px 30px;
    /* Quando fica o interline(ou azul a escrita)none, para não ficar no caso né */
    text-decoration: none;
    background-color: #ededed;
    /* Esse display faz com que o link se comporte como uma caixinha,mas fica na mesma linha */
    display: inline-block;
    /* Borda ( Na parte de baixo do quadrado/teoricamente) */
    border-bottom: 3px solid #ededed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    /* Borda arredondada (radius) */
    border-radius: 5px;
    margin: 0 50px;
}

#menu ul li a:hover {
    background-color: #86cdf3;
    color: blue;
    background-color: #2c8ff9;
    border-bottom: 3px solid;
}

/* Menu vertical 
Esse menu irá selecionar o ul que estiver dentro do elemento id menuv*/
#menuv ul {
    list-style-type: none;
    /* O list é para remover as bolinhas/que no caso é os marcadores originais */
    margin-left: 0;
    /* É o espaço interno do ul:20px(em cima/em baixo) e 50px(nas laterais) */
    padding: 20px 50px;
    width: 150px;
    background-color: #19416c;
}

/* Vou selecionar os links <a> dentro de cada <li> do <ul> do nosso menuv */
#menuv ul li a {

    display: block;
    /* O block, faz com que cada bloquinho do menu estaja um de baixo do outro
    (ou seja, faz o link virar bloco e ocupar a linha inteira do menu)*/
    padding: 10px 40px;
    background-color: #ededed;
    color: #19416c;
    text-decoration: none;
    text-align: center;
    border-bottom: 3px solid #ededed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 2px 0px;
}

#menuv ul li a:hover {
    background-color: #2c8ff9;
    color: blue;
    border-bottom: 3px solid #333;
}